


.thread-btn:hover {
    box-shadow: 2px 2px 20px black;
}

.hidden {
    visibility: hidden;
}


.btn {
    background-color: #05A8AA;
    border-radius: 0;
}

.btn:hover{
    box-shadow: 3px 3px 15px black;

}



.small-text-para {
    font-size: .7em;
}

.nav-link {
    color: black;
}