

.thread-btn:hover {
    box-shadow: 2px 2px 20px black;
}


.top-divs{
    background-color:#E5BEA6;
}


.btn {
    background-color: #05A8AA;
}

.body-div{
    background-color: #D6E6D6;
}

.small-text-para {
    font-size: .7em;
}

.nav-link {
    color: black;
}